ul.orders > li > .item-list > ul {
  display: none;
  margin-top: 5px;
}

ul.orders > li.active > .item-list > ul {
  display: block;
}

#block-bird-taxonomies-bird-orders h2,
#block-bird-taxonomies-bird-orders .plus,
#block-bird-taxonomies-bird-orders .go {
  cursor: hand;
  cursor: pointer;
}

#block-bird-taxonomies-bird-orders .content {
  display: none;
  width: 236px;
}

body.context-order #block-bird-taxonomies-bird-orders .content,
body.context-family #block-bird-taxonomies-bird-orders .content,
body.context-species #block-bird-taxonomies-bird-orders .content,
body.context-subspecies #block-bird-taxonomies-bird-orders .content {
  display: block;
}

#block-bird-taxonomies-bird-orders h2 span.plus {
  color: black;
  float: right;
  font-size: 25px;
  position: relative;
  top: -3px;
}

#block-bird-taxonomies-bird-orders .content ul li span.go {
  color: black;
  float: right;
}

#block-bird-taxonomies-bird-orders .orders .item-list {
  /*display: none;*/
}

#block-bird-taxonomies-bird-orders .a-wrapper a {
  float: left;
  width: 85%;
}